#Dictionary

Stores value in key ,value pair
Keys are:

*   case sensitive
*   must be immutable
*   duplication of keys are not allowed

In [ ]:
#Creating a Dictionary
x={1:"a",2:"b",3:"c"}
print(x)

#using dict constructor
t=dict(a=1,b=2,c=3)
print(t)

{1: 'a', 2: 'b', 3: 'c'}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#Accessing dictionary
#using key
d={"name":"ali","age":"22","gender":"male"}
print(d["name"])

#using get function
print(d.get("age"))

ali
22

In [ ]:
#Adding and updating
d={1:"a",2:"b",3:"c"}
d[4]="d"
print(d)

#updaing existing one
d[1]="A"
print(d)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'A', 2: 'b', 3: 'c', 4: 'd'}

###Removing Dictionary Item


*   del : removes item by key
*   pop() : remove an item by key and returns its value.
*   clear() :Empities the dictionary
*   popitem(): Removes and returns the last key-value pair

In [ ]:
d1={1:"name",2:"age",3:"gender"}

#using del
del d1[1]
print(d1)

#using pop()
val=d1.pop(2)
print(val)

#using clear
d1.clear()
print(d1)

d1[4]="d"
d1[5]="e"
d1[6]='f'
print(d1)
#using popitem()
d1.popitem()

{2: 'age', 3: 'gender'}
age
{}
{4: 'd', 5: 'e', 6: 'f'}

(6, 'f')

In [ ]:
#iterating through a dictionary
d2={"name":"ahmad","age":"21","gender":"male"}

#iterate over the key
for key in d2:
  print(key)

name
age
gender

In [ ]:
#iterate over the value
for value in d2.values():
  print(value)

ahmad
21
male

In [ ]:
#iterate over key and value
for key ,value in d2.items():
  print((key) + " is " + (value))

name is ahmad
age is 21
gender is male

In [3]:
#Nested Dictionary
#dictionary insdie dictioanry
a={1:'a',2:'b','c':{3:'d',4:'e'}}
print(a)

{1: 'a', 2: 'b', 'c': {3: 'd', 4: 'e'}}