#Built In Data Structures

*   List
*   Tuple
*   Set
*   Dictionary

##List

In [ ]:
#It is a type of built in data structure that can hold an ordered collection of items
#it means elements / items are arranged in predictable / sequence that there position matters
#like apple banana mango are items in list their position matters (0 for apple , 1 banana and so on ) , there order is also maintained since the item added in to list
a=["apple","banana","mango"]

In [ ]:
#list can contain duplicate
list1=[1,2,3,4,1,3]

*   list are mutable means items can be modified , removed or replaced
*   list maintains the orderd in which items are added
*   Items are accessed using index starting from 0

###Creating a list

In [ ]:
#using square bracket
a=[1,3,5,7,9]
print(a)

[1, 3, 5, 7, 9]

In [ ]:
#Using List Constructor
#list can be creat by passing any iterable to list function(constructor)
a=list((1,3,5,7,9))
b=list('abc')
print(a)
print(b)

[1, 3, 5, 7, 9]
['a', 'b', 'c']

In [ ]:
#we can create a list with repeated element using multiplication operator
a=[7] *5
print(a)

[7, 7, 7, 7, 7]

###Accessing List Element

In [ ]:
a=[100,200,300,400]
print(a[0])
print(a[1])

100
200

###Adding Element in to List

*   append() adds an element at the end of list
*   extend() adds multiple elements at the end of list
*   insert() adds an element at the specific postion
*   clear() removes all items of list

In [ ]:
a=[]

a.append(2)
print(a)

a.extend([3,4,5])
print(a)

a.insert(3,9)
print(a)

a.clear()
print(a)

[2]
[2, 3, 4, 5]
[2, 3, 4, 9, 5]
[]

###Updating item of the list

In [ ]:
a=[1,2,3,4,5]
a[2]=4 #it updates the item at index 2
print(a)

[1, 2, 4, 4, 5]

###Removing item / element from the list


*   remove() it remove the first occurence of element / item
*   pop() it removes the element at desired index or the last index element if not specified
*   del statement() Deletes an element at specified index

*   The del statement is used to delete names (references) from a scope (namespace). It doesn't necessarily delete the underlying object from memory immediately (Python's garbage collector handles that when the object is no longer referenced anywhere), but it makes the variable name undefined in the current scope.

In [ ]:
a=[1,2,1,3,4,5,6]
a.remove(1)

print(a)

a.pop(0)
print(a)

a.pop()
print(a)

del a[2]
print(a)

[2, 1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[1, 3, 4, 5]
[1, 3, 5]

In [ ]:
#pop returns the value that removed and updates the list (removes that item from list)
a.pop()

5

In [ ]:
print(a)

[1, 3]

###Iterating over list

In [ ]:
#we can iterate over list using loop and can perform the various operations as needed
a=["apple","banana","mango"]
for item in a:
  print(item)

apple
banana
mango

In [ ]:
#Nested list (list inside list ) it is a matrix basically
mtrix=[[1,2,3],
        [4,5,6],
        [7,8,9]]
print(mtrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
mtrix[2][1]  #accessing nested list first it access the outer lists(as they are items ) then inside of that list it access the item

8

###List comprehension

In [ ]:
#It is a way to create a list using a single line of code
#[ expression for item in iterable ]
#with if
#[ expression for item in iterable if condition ]
cube_list=[x**3 for x in range(10)]
print(cube_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
#list comprehension executes in sequence exactly like an equivalent standard for loop structure.
#The processing order flows from left to right
#,with outer loops defined first, followed by inner loops and conditional filters.
coords = [(x, y) for x in [1, 2] for y in [10, 20]]

Execution sequence:

    x gets the value 1.
    Inner loop starts:
        y gets 10. Expression (x, y) evaluates to (1, 10), appended to coords.
        y gets 20. Expression (x, y) evaluates to (1, 20), appended to coords.
    x gets the value 2.
    Inner loop starts again:
        y gets 10. Expression (x, y) evaluates to (2, 10), appended to coords.
        y gets 20. Expression (x, y) evaluates to (2, 20), appended to coords

In python a list does not stores the actual value directly instead it stores reference (pointers) to objects in memory, thats why list can store different type of items and can be able to update them (mutable)

####alising

In [ ]:
#because list are mutable and when we assign one list variable to another variable ,both points toward the same object in memory.This is called aliasing.
#changes made through one variable can be seen through other as well
a=[1,2,3,4]
b=a
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
b.append(4)
print(b)
print(a)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [ ]:
#In computing, aliasing describes a situation in which a data location in memory can be accessed through different symbolic names in the program.