#Tuple


*   Immutable orderd collection of elements
*   It can hold different data type elements
*   Tuple are heterogeneous, ordered and immutable

###Creating a Tuple

In [ ]:
#A tuple is created using ()
a=(1,'b',2.5)
#Using built in function
b=tuple((4,6,8))
print(b)
print(a)

(4, 6, 8)
(1, 'b', 2.5)

###Basing Operations of Tuple


*   Accessing of elements
*   Concatenation of Tuples
*   Slicing of Tuple
*   Deleting a Tuple

In [ ]:
#Elements can be accessed using index as in the list
a=(2,4,6,8)
a[2]

6

In [ ]:
#Tuple unpacking
x,y,z,t=a
print(x)
print(y)
print(z)

2
4
6

In [ ]:
#Concatenation of Tuple
#using + operator
#Olny same data type can be concatenated means list and tuple can not be concatenated
tup1=(1,2,3)
tup2=('a','b','c')
tup3=tup1 + tup2
print(tup3)

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
#Slicing a Tuple
#means creating a new tuple from a subset of existing tuple
#[start:stop:step]
a=(1,2,3,4,5,6,7,8)
print(a)
b=a[0:5:2]
print(b)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 3, 5)

In [ ]:
#Reversing a tuple
print(b[::-1])

(5, 3, 1)

In [ ]:
t=(1,2,3,4,5,6,7,8,9)
x=t[::-2]
print(x)

(9, 7, 5, 3, 1)

In [ ]:
#Deleting a tuple
#because tuple are immutable we can not delete element inside it ,instead we can delete whole tuple
tup=(2,6,9,13)
del tup

In [ ]:
#print(tup)
#because del statement deletes the name reference from the scope

In [ ]:
#Tuple unpacking with *
#* is used to gather multiple items from a tuple
# a scenario is that when we only want specific elements from tuple and rest together.
a,*b,c=t
print(a,b,c)

1 [2, 3, 4, 5, 6, 7, 8] 9

list vs tuple

In [ ]:
tup=(1,2,3)
tup.append((2,3,4))

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
tup={}
tup[(1,2,3)]=10
tup[(3,4,5)]=8
print(tup)

{(1, 2, 3): 10, (3, 4, 5): 8}

In [ ]:
for k in tup:
  print(tup[k])

10
8

In [ ]:
tup=(1,2,3)
tup2=(2,3,4)
print(tup<tup1)

False

In [ ]:
tup=('a') *3
print(tup)

aaa

In [ ]:
int(2e-04)

0